<% if message %>
<p class="flash_note"><%= message %></p>
<% end %>

<h2>Convert junk tags to junk status</h2>
<p><a href="/convert_junk">Click here</a></p>
<h2>Remove surplus untagged tags</h2>
<p><a href="/remove_surplus">Click here</a></p>
