<center>
	<p>There are a total of <%= totals['total'] %> images in the database</p>
	<% if totals['ok'] > 0 %>
	<p><%= totals['ok'] %> are flagged as <em class="ok_f">Ok</em></p>
	<% else %>
	<p>None of these are flagged as <em class="ok_f">Ok</em></p>
	<% end %>
	<% if totals['junk'] > 0 %>
	<p><%= totals['junk'] %> are flagged as <em class="junk_f">Junk</em></p>
	<% else %>
	<p>None of these are flagged as <em class="junk_f">Junk</em></p>
	<% end %>
	<% if totals['unknown'] > 0 %>
	<p><%= totals['unknown'] %> images remain to be classified</p>
	<% else %>
	<p>No images remain to be classified</p>
	<% end %>
</center>
