{% extends "layout.html" %}
{% block body %}
{% if data['total_records'] == 0 %}
	<center id="nomembercontent">
		<h1>There are no unclassified images</h1>
	</center>
{% else %}
	<center id="content">
		<p>Set all unclassified images to <a href="#" id="to_ok" class="ok_f">Ok</a> or <a href="#" id="to_junk" class="junk_f">Junk</a></p>
		<ul class="paginate">
		{% for tab in data['tabs'] %}
		{% if tab == '...' %}
			<li class="skipped">...</li>
		{% elif tab == data['page'] %}
			<li class="current"><a href="{{ url_for('dejunk', page=tab) }}">{{ tab }}</a></li>
		{% else %}
			<li><a href="{{ url_for('dejunk', page=tab) }}">{{ tab }}</a></li>
		{% endif %}
		{% endfor %}
		</ul>
		<form action="/dejunk" method="post">
			<input type="submit" name="commit" value="Submit" data-disable-with="Submit">
			<input type="hidden" name="page" value="{{ data['page'] }}">
			<table>
			{% for row in data['rows'] %}
			{% set cell_cycle = [['odd', 'even'], ['even', 'odd']][loop.index % 2] %}
				<tr>
				{% for cell in row %}
					<td class="{{ loop.cycle(*cell_cycle) }}">
						<center>
							<img src="{{ url_for('static', filename='thumbs/' + cell[1]) }}" width="125" height="125" alt="Image {{ cell[0] }}" />
							Ok <input id="photo_{{ cell[0] }}_ok" type="radio" name="photo_{{ cell[0] }}" value="ok"/>
							Junk <input id="photo_{{ cell[0] }}_junk" type="radio" name="photo_{{ cell[0] }}" value="junk"/>
						</center>
					</td>
				{% endfor %}
				</tr>
			{% endfor %}
			</table>
		</form>
	</center>
{% endif %}
{% endblock %}

