{% import 'menu.html' as m %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Dejunk Flickr Images</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='screen.css') }}"/>

    <script src="{{ url_for('static', filename='jquery-1.2.6.min.js') }}"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</head>
<body>
    {{ m.menu(selected_menu) }}
    {% block body %}{% endblock %}
</body>
</html>
