{% extends "layout.html" %}
{% import 'paginate.html' as p %}
{% block body %}
{% if data['total_records'] == 0 %}
	<center id="nomembercontent">
		<h1>There are no images to purge</h1>
	</center>
{% else %}
	<center id="junk_content">
		<p>Set all images to <a href="#" id="to_delete" class="junk_f">Delete</a>
		{{ p.paginate(data['tabs'], data['page'], 'purge') }}
		<form action="/purge" method="post">
			<input type="submit" name="commit" value="Submit" data-disable-with="Submit">
			<input type="hidden" name="page" value="{{ data['page'] }}">
			<table>
			{% for row in data['rows'] %}
			{% set cell_cycle = [['odd', 'even'], ['even', 'odd']][loop.index % 2] %}
				<tr>
				{% for cell in row %}
					<td class="{{ loop.cycle(*cell_cycle) }}">
						<center>
							<img src="{{ url_for('static', filename='thumbs/' + cell[1]) }}" width="125" height="125" alt="Image {{ cell[0] }}" />
							Delete {{ cell[0] }} <input type="checkbox" value="1" name="photo_{{ cell[0] }}" id="photo_{{ cell[0] }}">
						</center>
					</td>
				{% endfor %}
				</tr>
			{% endfor %}
			</table>
		</form>
	</center>
{% endif %}
{% endblock %}
