{% extends "layout.html" %}
{% block body %}
<div class="wrapper">
    <div class="tags_in_use">
        <h3>Tags in use</h3>
        <span class="selected_tags">
            {% for tag in data['used_tags'] %}
            <div class="tag">
                {% if data['used_tags']|count > 1 %}
                {% if tag[2] == True %}
                <span class="button plus"><a href="{{ url_for('tags', query=data['query']+' '+tag[0]) }}">+</a></span>
                {% else %}
                <span class="button blank">&nbsp</span>
                {% endif %}
                {% if tag[3] == True %}
                <span class="button minus"><a href="{{ url_for('tags', query=data['query']+' -'+tag[0]) }}">-</a></span>
                {% else %}
                <span class="button blank">&nbsp;</span>
                {% endif %}
                {% endif %}
                <a href="{{ url_for('tags', query=tag[0]) }}">{{ tag[1] }}</a>
            </div>
            {% endfor %}
        </span>
        <h3>Add tags to selected items</h3>
        <form action="{{ url_for('add_tags') }}" accept-charset="UTF-8" method="post">
            <input type="hidden" name="id" id="ids" value="">
            <input type="hidden" name="query" value="{{ data['query'] }}">
            <input type="hidden" name="page" value="{{ data['page'] }}">
            <input type="text" name="new_tag" size="15" id="new_tag" autocomplete="off" class="ac_input">
            <input type="submit" name="commit" value="add" onclick="return tag_multiple_items();" data-disable-with="add">
        </form>
    </div>

    <div class="photos_tagged">
        <h3>{{ data['describe'] }}</h3>
        {% if data['total_records'] == 0 %}
            <center>
                <h2>There are no images to show</h2>
            </center>
        {% else %}
        <ul class="paginate">
        {% for tab in data['tabs'] %}
        {% if tab == '...' %}
            <li class="skipped">...</li>
        {% elif tab == data['page'] %}
            <li class="current"><a href="{{ url_for('tags', query=data['query'], page=tab) }}">{{ tab }}</a></li>
        {% else %}
            <li><a href="{{ url_for('tags', query=data['query'], page=tab) }}">{{ tab }}</a></li>
        {% endif %}
        {% endfor %}
        </ul>
            <table>
                {% for row in data['rows'] %}
                <tr>
                    {% for cell in row %}
                    <td>
                        <center>
                            <a href="{{ url_for('picture', photo_id=cell[0], query=data['query'], page=data['page']) }}">
                                <img src="{{ url_for('static', filename='thumbs/' + cell[3]) }}" width="125" height="125" alt="Image {{ cell[0] }}" />
                            </a>
                            <input name="photo_{{ cell[0] }}" type="hidden" value="0">
                            <input type="checkbox" value="1" name="photo_{{ cell[0] }}" id="photo_{{ cell[0] }}">
                        </center>
                    </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </table>
        {% endif %}
    </div>
</div>
{% endblock %}
